<div class="edit-profile">
  <div class="header">
    <a class="back" [routerLink]="['/profile']">
      <img class="back-button" src="assets/icons/back.svg" alt="Back" />
      بازگشت
    </a>
    <a class="submit" (click)="saveChanges()">ثبت </a>
  </div>

  <div class="profile-logo">
    <img
      *ngIf="imagePreviewUrl; else uploadedImage"
      [src]="imagePreviewUrl"
      alt="Preview Image"
      style="max-width: 200px; max-height: 200px; border-radius: 50%"
    />
    <ng-template #uploadedImage>
      <img
        [src]="imageUrl"
        alt="Profile Image"
        style="max-width: 200px; max-height: 200px; border-radius: 50%"
      />
    </ng-template>
  </div>

  <a class="edit-image" (click)="editImage()">ویرایش تصویر</a>

  <mat-form-field class="edit-input email-input" appearance="outline">
    <mat-label>ایمیل</mat-label>
    <input matInput [(ngModel)]="email" [readonly]="true" />
  </mat-form-field>

  <mat-form-field class="edit-input" appearance="outline">
    <mat-label>نام</mat-label>
    <input matInput [(ngModel)]="fullName" required />
  </mat-form-field>

  <mat-form-field class="edit-input" appearance="outline">
    <mat-label>نام کاربری</mat-label>
    <input matInput [(ngModel)]="userName" />
  </mat-form-field>

  <mat-form-field class="edit-input" appearance="outline">
    <mat-label>درباره من</mat-label>
    <input matInput [(ngModel)]="profileDescription" />
  </mat-form-field>

  <hr class="divider" />

  <button class="delete-account">خروج از حساب کاربری</button>
</div>
