<div class="default-header explore">
  <div class="btn1-container search">
    <button mat-button>
      <img class="search-button" src="assets/icons/search-icon.svg" />
      جستوجو
    </button>
  </div>

  <span class="mid-span"> پیشنهاد بچین </span>

  <button class="unvisible"></button>
</div>

<div class="chips-container">
  <div
    matRipple
    class="chip-item"
    [class.selected]="chip.isSelected"
    (click)="toggleSelection(chip)"
    *ngFor="let chip of chips"
  >
    {{ chip.label }}
  </div>
</div>

<div class="suggested-groups-container">
    <span class="suggested-groups-title">
        گروه های پیشنهادی
    </span>

    <div matRipple class="group-preview"  *ngFor="let group of suggested_groups">
        <div class="image-pic">

        </div>

        <span>
            {{group.name}}
        </span>
    </div>
</div>