.chips-container {
  margin-top: 1.75rem;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  padding-right: 1rem;
}
.chip-item {
  display: inline-block;
  padding: 0 0.5rem;
  border: 1px solid var(--gray-2);
  border-radius: 1.5rem;
  margin-left: 0.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
}
.chip-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.chip-item.selected {
  border-color: var(--primary);
  color: var(--primary);
}

.suggested-groups-container {
  background-color: var(--gray-2);
  margin: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  .suggested-groups-title {
    font-size: 0.625rem;
    color: var(--gray-4);
  }

  .group-preview {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--gray-3);
  }

  .group-preview:last-child {
    border-bottom: none;
  }

  .image-pic {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary);
    margin-left: 1rem;
    border-radius: 50%;
  }
}
