<div class="default-header explore">
  <div class="btn1-container search">
    <button (click)="navigateToSearchExplore()" mat-button>
      <img class="search-button" src="assets/icons/search-icon.svg" />
      جستوجو
    </button>
  </div>

  <span class="mid-span"> پیشنهاد بچین </span>

  <button class="unvisible"></button>
</div>

<div class="chips-container">
  <div
    matRipple
    class="chip-item"
    *ngFor="let tag of tags"
    [class.selected]="isTagSelected(tag)"
    (click)="toggleTagSelection(tag)"
  >
    {{ tag }}
  </div>
</div>

<div class="suggested-groups-container">
  <span class="suggested-groups-title"> گروه های پیشنهادی </span>

  <div matRipple class="group-preview" *ngFor="let group of groups"
  (click)="navigateToGroupChat(group.id)"
  >
    <div class="image-pic">
      <img
        *ngIf="group.image"
        [src]="group.image"
        alt="Event Image"
        class="event-image"
      />

      <div *ngIf="!group.image" class="suggested-group-img-replacement">
        <span>
          {{ group.name[0] }}
        </span>
      </div>
    </div>

    <span>
      {{ group.name }}
    </span>
  </div>
</div>

<div>
  <div class="events-list">
    <div class="event-card" *ngFor="let event of events" (click)="navigateToShowEventDetail(event.id)">
      <div class="images-container">
        <img
          *ngIf="event.imagePath"
          [src]="event.imagePath"
          alt="Event Image"
          class="event-image"
        />

        <div *ngIf="!event.imagePath" class="image-container-replacement"></div>

        <div class="event-header">
          <img
            *ngIf="event.ownerImage"
            [src]="event.ownerImage"
            alt="Profile"
            class="profile-image"
          />

          <div class="event-owner-pic-replacement" *ngIf="!event.ownerImage">
            <span>
              {{ event.ownerName[0] }}
            </span>
          </div>

          <span *ngIf="event.ownerName" class="profile-name">{{
            event.ownerName
          }}</span>
          <span *ngIf="!event.ownerName" class="profile-name">unknown</span>
        </div>
      </div>

      <div class="event-info">
        <h3 class="event-title">{{ event.title }}</h3>
        <p class="event-description">{{ event.description }}</p>
        <div class="event-date">{{ dateToJalali(event.date) }}</div>
      </div>
    </div>
  </div>
</div>
