@media only screen and (min-width: 390px) and (max-width: 390px) and (min-height: 844px) and (max-height: 844px) {
    .chat {
        height: 35%;
    }
    .header {
        width: 100%;
        color: #333;
        display: flex;
        padding: 1rem;
        justify-content: space-around;
        align-items: center;

        .back {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .back-title{
                margin-left: 20px;
            }
        }

        .profile-group{
            width: 71px;
            border-radius: 50%;
        }

    }

    mat-tab-group {
        color: #333;
        border-bottom-color: #BD4CF1BF;
    }

    .back-button {
        width: 40%;
    }

}

img.profile-group {
    width: 2rem;
}
