<div class="default-header">
  <div class="btn1-container search">
    <button (click)="navigateToGroupPage()" mat-button>
      <img class="back-button" src="assets/icons/back.svg" />
      بازگشت
    </button>
  </div>

  <span class="mid-span"> صخره نوردی ستاک </span>

  <div class="btn2-container image">
      <img class="img" [src]=group.image />
  </div>
</div>


<div *ngIf="!isLoading" class="chat">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="پیام ها">
      <app-messages [group]="group"></app-messages>
    </mat-tab>
    <mat-tab label="برنامه ها">
      <app-events [GropEvents]="GropEvents"></app-events>
    </mat-tab>
  </mat-tab-group>
</div>
