<div class="container">
    <div class="name">
      <span>بچین</span>
    </div>
  
    <div class="enter-info">
      <span>کدی که برای ایمیلت فرستادیم رو اینجا بزن!</span>
    </div>
  
    <div class="sign-up-form">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>ایمیل</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="mmdsecshot@gmail.com"
          />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>کد تایید </mat-label>
          <input
            matInput
            formControlName="confirmationCode"
            placeholder="کد تایید"
            required
          />
          <mat-error *ngIf="signUpForm.get('username')?.hasError('required')">
            کد تایید الزامی است
          </mat-error>
        </mat-form-field>
  
        <div class="button-container">
          <button
            mat-flat-button
            color="primary"
            type="submit"
          >
            بعدی 
          </button>
        </div>
      </form>
    </div>
  </div>
  