<div>
  <div class="default-header">
    <div class="btn1-container">
      <button (click)="redirectCreateGroup()" mat-button>
        <img class="back-button" src="assets/icons/back.svg" />
        بازگشت
      </button>
    </div>

    <span class="mid-span">افزودن عضو</span>

    <div class="btn2-container">
      <button (click)="onSubmit()" mat-button>ثبت</button>
    </div>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>جستجو</mat-label>
      <input matInput type="text" placeholder="جستجو" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" />
      <button mat-icon-button matSuffix class="search-icon-button">
        <img class="search-icon" src="assets/icons/search-box.svg" />
      </button>
    </mat-form-field>
  </div>
  <div class="body">
    @if(usersList){
      @for(user of usersList; track usersList){
        <div class="user-item">
          <mat-checkbox [(ngModel)]="user.isChecked"></mat-checkbox>
          <div class="background-image">
            <img [class.has-image]="user.image != null"
              [class.default-image]="user.image == null"
              [src]="user.image != null ? user.image : '/assets/icons/group-default-photo.svg'" />
          </div>
          <ng-template #defaultImage>
            <img src="assets/icons/group-default-photo.svg" alt="Default Image" class="user-image" />
          </ng-template>
          <span class="user-username">{{ user.name }}</span>
         
        </div>
      }
    }
    
    <ng-template #noData>
      <p>هیچ داده‌ای برای نمایش وجود ندارد.</p>
    </ng-template>
  </div>
</div>