.group-info {
  direction: rtl;
  min-height: 100vh;
  background-color: var(--gray-1);
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    font-size: 14px;

    .header-up {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 14px;
      margin-bottom: 16px;
      margin-top: 50px;
    }

    .edit {
      color: var(--primary);
      text-decoration: none;
      font-size: 16px;
      margin-inline-end: 12px;
      margin-inline-start: 16px;
    }

    .back {
      display: flex;
      align-items: center;
      color: var(--base-opposite);
      text-decoration: none;
      font-size: 16px;
      margin-inline-start: 12px;
      margin-inline-end: 5px;

      img {
        margin-inline-start: 8px;
      }
    }
  }

  .group-logo {
    width: 114px;
    height: 114px;
    margin: 50px auto 10px auto;
    border-radius: 50%;
  }

  .group-name {
    font-size: 16px;
    font-weight: 700;
    color: var(--base-opposite);
    text-align: center;
    margin-bottom: 20px;
  }

  .group-description {
    text-align: start;
    font-size: 14px;
    color: var(--base-opposite);
    background-color: var(--base);
    padding: 16px;
    border-radius: 5px;
    margin: 20px 24px 10px;
  }

  .creation-date {
    text-align: start;
    font-size: 14px;
    color: var(--gray-4);
    background-color: var(--base);
    padding: 10px 16px;
    border-radius: 5px;
    margin: 20px 24px 10px;

    .date {
      color: var(--base-opposite);
      font-weight: bold;
      margin-inline-end: 5px;
    }
  }

  .members {
    display: flex;
    flex-direction: column;
    background-color: var(--base);
    padding: 10px;
    border-radius: 8px;
    margin: 20px 24px;

    .add-member {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--primary);
      font-size: 14px;
      text-decoration: none;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--gray-2);

      img {
        margin-inline-start: 10px;
        margin-inline-end: 8px;
      }
    }

    .member {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-start;
      padding: 10px 0;
      border-bottom: 1px solid var(--gray-2);

      &:last-child {
        border-bottom: none;
      }

      .name {
        font-size: 14px;
        color: var(--gray-5);
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .no-members-message {
      text-align: center;
      font-size: 14px;
      color: var(--gray-4);
    }
  }

  .leave-group {
    width: calc(100% - 48px);
    padding: 15px;
    border: 1px solid var(--error);
    background-color: var(--base);
    color: var(--error);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 24px 20px;
  }
}
