<div class="container">
  <div class="enter-info">
    <div class="title">
      <span>به </span>
      <span class="big-becheen">بچین </span>
      <span>خوش برگشتی </span>
    </div>
    <div class="sub-title">اطلاعاتت رو وارد کن تا وارد دنیای بچین بشی</div>
  </div>

  <div class="sign-up-form">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>نام کاربری یا ایمیل</mat-label>
        <input matInput formControlName="emailOrUsername" placeholder="ایمیل" required />
        <mat-error *ngIf="signUpForm.get('emailOrUsername')?.hasError('required')">
          ایمیل یا نام کاربری الزامی است
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>رمز عبور</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="رمز عبور خود را وارد کنید"
          required
        />
        <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
          رمز عبور الزامی است
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">
          رمز عبور حداقل باید 6 کاراکتر باشد.
        </mat-error>
      </mat-form-field>

      <a class="pink-underlined-txt" (click)="navToRecovery()">فراموشی رمز عبور</a>

      <div class="button-container">
        <button mat-flat-button color="primary" type="submit">ورود</button>
      </div>
    </form>

    <div class="nav-to-login">
      <p>
        حساب نداری؟ خب
        <a
          (click)="navigateToLogin()"
          class="pink-underlined-txt"
          >ثبت نام</a
        >
        <span> کن!</span>
      </p>
    </div>

    <div
      class="divider"
      style="display: flex; align-items: center; margin: 1.5rem 1.375rem"
    >
      <hr style="flex: 1; border: none; border-top: 1px solid #ccc" />
      <span style="padding: 0 10px; color: #888">یا</span>
      <hr style="flex: 1; border: none; border-top: 1px solid #ccc" />
    </div>

    <div class="button-container google">
      <button mat-stroked-button (click)="googleLogin()" class="mat-stroked-text-regular btn-border-primary">
        <img src="assets/icons/google.svg">
        <span>ورود به گوگل</span>
      </button>
    </div>
  </div>
</div>
