
<div>
  <div class="events-list" *ngIf="viewMode === 'headline_view'">

    <div class="event-card" *ngFor="let event of GropEvents">

      <div class="images-container">
        <img *ngIf="event.imagePath" [src]="event.imagePath" alt="Event Image" class="event-image" />
        <div *ngIf="!event.imagePath" class="event-image-replacement">
        </div>

        <div class="event-header">
          <img *ngIf="event.owner.image" [src]="event.owner.image" alt="Profile" class="profile-image" />
          <div *ngIf="!event.owner.image" class="fallback">
            {{ event.owner.name[0] }}
          </div>
          <span class="profile-name">{{ event.owner.name }}</span>
        </div>
      </div>

      <div class="event-info">
        <h3 class="event-title">{{ event.title }}</h3>
        <p class="event-description">{{ event.description }}</p>
        <div class="event-date">{{ event.date }}</div>
      </div>
    </div>
  </div> 

  <app-main-calendar *ngIf="viewMode === 'calendar_view'"></app-main-calendar>

  <div class="toggle-btn-container">
    <section>
      <mat-button-toggle-group
        name="favoriteColor"
        aria-label="Favorite Color"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()"
        value="calendar_view"
        (change)="onToggleChange($event.value)"
      >
        <mat-button-toggle value="calendar_view">
          <img src="../../../assets/icons/view_calendar.svg" />
        </mat-button-toggle>
        <mat-button-toggle value="headline_view">
          <img src="../../../assets/icons/view_headline.svg"/>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
</div>
