<div class="default-header">
  <div class="btn1-container">
    <button (click)="backToExplore()" mat-button>
      <img class="back-button" src="assets/icons/back.svg" />
      بازگشت
    </button>
  </div>
</div>

<div class="search-bar-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>جستجو</mat-label>
    <input
      matInput
      type="text"
      placeholder="جستجو"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch()"
    />
    <button mat-icon-button matSuffix class="search-icon-button">
      <img class="search-icon" src="assets/icons/search-box.svg" />
    </button>
  </mat-form-field>
</div>

<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="گروه ها">
    <div>
      <div class="events-list">
        <div class="event-card" *ngFor="let event of events">
          <div class="images-container">
            <img
              src="../../../assets/icons/image.png"
              alt="Event Image"
              class="event-image"
            />

            <div class="event-header">
              <img
                src="../../../assets/icons/image.png"
                alt="Profile"
                class="profile-image"
              />
              <span class="profile-name">{{ event.name }}</span>
            </div>
          </div>

          <div class="event-info">
            <h3 class="event-title">{{ event.title }}</h3>
            <p class="event-description">{{ event.description }}</p>
            <div class="event-date">{{ event.date }}</div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="برنامه ها">
    <div class="suggested-groups-container">
      <div matRipple class="group-preview" *ngFor="let group of groups">
        <div class="image-pic"></div>

        <span>
          {{ group.name }}
        </span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
