.search-bar-container {
  padding: 2rem 1rem 0.5rem 1rem;
}

.suggested-groups-container {
  margin: 1.5rem 1.5rem 4rem 1.5rem;
  border-radius: 0.5rem;

  .group-preview {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--gray-2);
  }

  .group-preview:last-child {
    border-bottom: none;
  }

  .image-pic , .event-pic {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary);
    margin-left: 1rem;
    border-radius: 50%;
  }
}

.events-list {
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}

.event-card {
  border-radius: 0.8rem;
  border: 1px solid var(--gray-2);
  margin-bottom: 0.5rem;
}

.images-container {
  position: relative;

  .event-header {
    border-radius: 2rem;
    border: 1px solid var(--gray-2);
    inset-inline-start: 0.5rem;
    position: absolute;
    bottom: 1rem;
    background-color: white;
    opacity: 74%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0.1rem;

    span {
      margin-inline-start: 0.5rem;
      font-size: 0.875rem;
    }
  }
}

img.profile-image {
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
}

img.event-image {
  width: -webkit-fill-available;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.event-info {
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  font-size: 0.75rem;

  .event-title {
    font-weight: 800;
    color: var(--gray-5);
  }
}

.event-date {
  text-align: end;
  color: var(--primary);
  margin-bottom: 0.5rem;
  font-size: 0.625rem;
}

.event-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* تعداد خطوط قابل نمایش */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  // max-height: 3rem; /* محدود کردن ارتفاع به دو خط */
}

.group-image-replacement{
  width: 100%;
  height: 4rem;
  background-color: var(--gray-1);
}