<div class="edit-group">
  <div class="default-header">
    <button (click)="navigateBack()" mat-button>
      <img class="back-button" src="assets/icons/back.svg" />
      بازگشت
    </button>
    <button
      (click)="saveChanges()"
      mat-button
      [disabled]="!isAdmin || !groupName"
    >
      ثبت
    </button>
  </div>

  <div class="group-logo">
    <img [src]="groupImageUrl" alt="Group Logo" />
  </div>

  <a class="edit-image" (click)="editImage()" *ngIf="isAdmin">ویرایش تصویر</a>

  <mat-form-field class="edit-input" appearance="outline">
    <mat-label>نام</mat-label>
    <input matInput [(ngModel)]="groupName" [readonly]="!isAdmin" required />
  </mat-form-field>

  <mat-form-field class="edit-input" appearance="outline">
    <mat-label>توضیحات</mat-label>
    <textarea
      matInput
      [(ngModel)]="groupDescription"
      [readonly]="!isAdmin"
    ></textarea>
  </mat-form-field>

  <hr class="divider" />

  <button class="delete-group" (click)="confirmDeleteGroup()" *ngIf="isAdmin">
    حذف اکیپ
  </button>

  <div class="confirm-dialog" *ngIf="isDeleteDialogVisible">
    <p>آیا از حذف این گروه اطمینان دارید؟</p>
    <div class="dialog-actions">
      <button class="dialog-button confirm-button" (click)="deleteGroup()">
        بله
      </button>
      <button class="dialog-button cancel-button" (click)="closeDeleteDialog()">
        خیر
      </button>
    </div>
  </div>
</div>
