.edit-group {
  width: 100%;
  margin: 0;
  color: var(--gray-5);
  text-align: center;
  background-color: var(--base);

  .default-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 45px;

    .back {
      display: flex;
      align-items: center;
      color: var(--base-opposite);
      font-size: 16px;
      cursor: pointer;

      img {
        margin-inline-start: 8px;
      }
    }

    .submit {
      color: var(--primary);
      font-size: 16px;
      cursor: pointer;
    }
  }

  .group-logo {
    width: 114px;
    height: 114px;
    margin: 20px auto;
    border-radius: 50%;
    background-color: var(--gray-2);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .edit-image {
    display: block;
    color: var(--primary);
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }

  .edit-input {
    width: calc(100% - 40px);
    margin: 20px auto;
    display: flex;

    mat-form-field {
      width: 100%;
    }
  }

  .delete-group {
    width: calc(100% - 40px);
    padding: 15px;
    border: 1px solid var(--error);
    background-color: var(--base);
    color: var(--error);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
  }

  .divider {
    width: 89%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid var(--gray-3);
  }

  .confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--base);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;

    p {
      margin-bottom: 20px;
      font-size: 16px;
      color: var(--gray-5);
    }

    .dialog-actions {
      display: flex;
      justify-content: center;
      gap: 20px;

      .dialog-button {
        padding: 12px 24px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      .confirm-button {
        background-color: var(--green);
        color: var(--base);

        &:hover {
          background-color: var(--green-hover);
          transform: scale(1.05);
        }
      }

      .cancel-button {
        background-color: var(--error);
        color: var(--base);

        &:hover {
          background-color: var(--error-hover);
          transform: scale(1.05);
        }
      }
    }
  }
}
