.edit-group {
  width: 100%;
  margin: 0;
  color: var(--gray-5);
  text-align: center;
  background-color: var(--base);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    margin-top: 45px;

    .back {
      display: flex;
      align-items: center;
      color: var(--base-opposite);
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;

      img {
        margin-inline-start: 8px;
      }
    }

    .submit {
      color: var(--primary);
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .group-logo {
    width: 114px;
    height: 114px;
    margin: 20px auto;
    border-radius: 50%;
    background-color: var(--gray-1);

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .edit-image {
    display: block;
    color: var(--primary);
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .edit-input {
    width: calc(100% - 40px);
    margin: 20px auto;
    display: flex;

    mat-form-field {
      width: 100%;
      direction: rtl;
    }

    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-flex {
      background-color: var(--base);
      border-radius: 5px;
    }

    input {
      font-size: 1rem;
      color: var(--gray-4);
      font-family: inherit;
    }
  }

  .delete-group {
    width: calc(100% - 40px);
    padding: 15px;
    border: 1px solid var(--error);
    background-color: var(--base);
    color: var(--error);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
  }

  .divider {
    width: 89%;
    max-width: 150rem;
    margin: 20px auto;
    border: none;
    border-top: 1px solid var(--gray-3);
  }
}
