// .sign-up-container {
//     display: flex;
//     justify-content: center;
//     height: 100vh;
// }

// .container {
//     justify-content: space-between;
//     display: flex;
//     height: 100%;
//     flex-direction: column;
// }

.page-container{
    justify-content: space-between;
    display: flex;
    height: 100%;
    flex-direction: column;
}