.default-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1rem;
  align-items: center;
  margin-top: 4rem;

  .btn1-container {
    // color: black !important;
  }
  .mid-span {
    font-weight: bold;
  }
  .btn2-container {
    .mat-stroked-text-regular.mat-mdc-outlined-button:not(:disabled),
    .mat-mdc-button:not(:disabled) {
      color: purple !important;
    }
  }
}