$primary-color: #BD4CF1;
$primary-light: #CB76F2;

$error: #FF0000;

$base: #FFFFFF;
$gray-1: #F5F5F5;
$gray-2: #C8C8C8;
$gray-3: #B2B2B2;
$gray-4: #6B6B6B;
$gray-5: #5B5B5B;
$base-opposite: #000000;


