:root {
  --primary: #bd4cf1;
  --primary-light: #cb76f2;

  --secondary-container : #E8DEF8;

  --error: #ff0000;

  --base: #ffffff;
  --gray-1: #f5f5f5;
  --gray-2: #c8c8c8;
  --gray-3: #b2b2b2;
  --gray-4: #6b6b6b;
  --gray-5: #5b5b5b;
  --base-opposite: #000000;
}
