<div style="height: 100%; width: 100%;">
  <div class="header">
    <div class="back">
      <img class="back-button" src="assets/icons/back.svg">
      <p class="back_title">بازگشت</p>
    </div>
    <h4 style="color: var(--gray-5);">اکیپ جدید</h4>
    <a class="next-button" (click)="redirectMemberList()">بعدی</a>
  </div>
  <div class="body">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="image-part" (click)="fileInput.click()">
        <div class="background-image">
          <img [class.has-image]="imagePath && imagePath.length>0"
            [class.default-image]="!imagePath"
            [src]="imagePath && imagePath.length>0 ? imagePath : '/assets/icons/group-default-photo.svg'" />
        </div>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
        @if(imagePath.length != null){
        <a class="set-photo">افزودن تصویر</a>
        }
        @else{

        <a class="set-photo">ویرایش تصویر</a>
        }
      </div>
      <div style="padding: 20%; display: flex; align-items: center; flex-direction: column; ">
        <mat-form-field appearance="outline" style="width: 35vh;">
          <mat-label>نام</mat-label>
          <input matInput type="text" required />
          <mat-error *ngIf="">
            نام گروه را وارد کنید!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 35vh;">
          <mat-label>توضیحات</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
    </form>
  </div>

</div>