<div [ngClass]="{'no-chat-box': !group.isPrivate && !group.isAdmin, 'chat-box': group.isPrivate || (!group.isPrivate && group.isAdmin)}">
    <div *ngFor="let msg of messages" class="total-message">
        <div [ngClass]="{'message-mine': msg.isMe, 'message-theirs': !msg.isMe }">

            <div class="message-content">
                @if(!msg.isMe){
                <p class="sender">{{ msg.username }}</p>
                }
                <div style="display: flex; justify-content: space-between; gap: 5px">

                    <span [ngClass]="{'date-mine': msg.isMe, 'date-theirs': !msg.isMe}">{{ msg.sentTime | date:'HH:mm'
                        }}</span>
                    <p class="text">{{ msg.text }}</p>
                </div>
            </div>

            @if(!msg.isMe){
            @if(msg.image){
            <img [src]="msg.image" alt="Profile Image" class="profile-image">
            }
            @else{
            <div class="day-event-avatar" [style.backgroundColor]="msg.avatarColor">
                {{ msg.avatarLetter }}
            </div>
            }
            }
        </div>

    </div>

</div>

@if(!group.isPrivate){
    @if(group.isAdmin){
        <div class="input-container" [ngClass]="{ 'focused': inputValue !== '' }">
            <img *ngIf="sendingMessage != ''" (click)="sendMessage()" src="assets/icons/up.svg">
            <input class="field" style="margin-right: 20px;" type="text" placeholder="پیام" [(ngModel)]="sendingMessage"
                (ngModelChange)="adjustInputWidth()" />
        </div>
    }
}
@else{
    <div class="input-container" [ngClass]="{ 'focused': inputValue !== '' }">
        <img *ngIf="sendingMessage != ''" (click)="sendMessage()" src="assets/icons/up.svg">
        <input class="field" style="margin-right: 20px;" type="text" placeholder="پیام" [(ngModel)]="sendingMessage"
            (ngModelChange)="adjustInputWidth()" />
    </div>
}