<div class="chat-box">
    <div *ngFor="let msg of messages" class="total-message">
        <div [ngClass]="{'message-mine': msg.isMe, 'message-theirs': !msg.isMe }">

            <div class="message-content">
                @if(!msg.isMe){
                <p class="sender">{{ msg.username }}</p>
                }
                <div style="display: flex; justify-content: space-between; align-items: center">

                    <p class="text">{{ msg.text }}</p>
                    <span [ngClass]="{'date-mine': msg.isMe, 'date-theirs': !msg.isMe}">{{ msg.sentTime | date:'HH:mm'
                        }}</span>
                </div>
            </div>
           
        </div>
        @if(!msg.isMe){
            <img [src]="" alt="Profile Image" class="profile-image">
            }

    </div>

</div>
<div class="input-container" [ngClass]="{ 'focused': inputValue !== '' }">
    <img *ngIf="sendingMessage != ''" (click)="sendMessage()" src="assets/icons/up.svg">
    <input class="field" style="margin-right: 20px;" type="text" placeholder="پیام" [(ngModel)]="sendingMessage" (ngModelChange)="adjustInputWidth()"/>
</div>