.chat-box {
    height: 536px;
    background: #F5F5F5;
    border: #d4d4d4;
    border-style: solid;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 10px; 
}

.field {
    padding: 10px 40px 10px 10px;
    border: 1px solid #9f9f9f;
    border-radius: 47px;
    margin-top: 1rem;
    margin-left: 27px;
    text-align: right;
    width: calc(100% - 20px);
}

.total-message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    margin: 5px 5px 5px auto;
}

.message-mine {
    background-color: #BD4CF1BF;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 12px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 5px auto;

    .date-mine {
        font-size: 13px;
        text-align: left;
        color: #fefcffbf;
    }
}

.message-theirs {
    text-align: left;
    align-items: self-end;
    display: flex;
    margin-bottom: 10px;
    max-width: 80%;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    padding: 12px;
    gap: 10px;
    margin: 0px 165px 5px auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    .date-theirs {
        font-size: 13px;
        text-align: right;
        color: #5d5c5c;
    }
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.sender {
    font-weight: bold;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #9f9f9f;
    border-radius: 47px;
    margin: 1rem auto;
    transition: width 0.3s ease;
    width: calc(100% - 20px);
}

.input-container input {
    width: 100%;
    padding: 18px 0px 12px 21px;
    margin: 0;
    border: none;
    outline: none;
}

.input-container button {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.input-container.focused button {
    visibility: visible;
}


.input-container input:focus {
    border-color: #BD4CF1BF; 
    outline: none;
    padding: -10px;
}