<div class="profile-container">

  <div class="default-header">
    <div class="btn1-container">
      <button
       [disabled]="isOwner"
       mat-button>
        <img src="../../assets/icons/back.svg" />
        بازگشت
      </button>
    </div>
  
    <span *ngIf="isOwner" class="mid-span">پروفایل</span>
  
    <div class="btn2-container">
      <button 
      mat-button
      *ngIf="isOwner"
      class="edit-button"
      [routerLink]="'/profile-edit'"
      (click)="editProfile()"
      >ویرایش</button>
    </div>
  </div>


  <div class="profile-info">
    <div class="profile-picture">
      <img [src]="userProfile.imageUrl" alt="Profile Picture" />
    </div>
    <h2 class="name">{{ userProfile.name }}</h2>
    <p class="username" *ngIf="userProfile.username">
      {{ userProfile.username }}&#64;
    </p>

    <div
      class="status-section white-card"
      *ngIf="userProfile.status && userProfile.status.trim()"
    >
      <p class="status">
        {{ userProfile.status }}
      </p>
    </div>

    <div class="last-updated-section white-card">
      <p>
        <span class="label">بچینی شده از</span>
        <span class="value">{{ userProfile.lastUpdated }}</span>
      </p>
    </div>
  </div>

  <div class="tabs">
    <button [class.active]="activeTab === 'teams'" (click)="switchTab('teams')">
      <span>{{ isOwner ? "اکیپ‌ها" : "اکیپ‌های مشترک" }}</span>
    </button>
    <button
      [class.active]="activeTab === 'programs'"
      (click)="switchTab('programs')"
    >
      <span>{{ isOwner ? "برنامه‌ها" : "برنامه‌های مشترک" }}</span>
    </button>
  </div>

  <div class="content white-bg">
    <div *ngIf="activeTab === 'teams'" class="teams">
      <div *ngFor="let team of teams" class="team">
        <img
          *ngIf="team.icon"
          [src]="team.icon"
          alt="Team Icon"
          class="common-avatar"
        />

        <div
          *ngIf="!team.icon"
          class="avatar common-avatar"
          [style.backgroundColor]="team.avatarColor"
        >
          {{ team.avatarLetter }}
        </div>

        <span>{{ team.name }}</span>
        <img
          *ngIf="!isOwner && team.isPrivate"
          src="assets/icons/private-groups.svg"
          alt="Private Group Icon"
          class="private-icon"
        />
      </div>
    </div>

    <div *ngIf="activeTab === 'programs'" class="programs">
      <p>{{ isOwner ? programsMessage.owner : programsMessage.others }}</p>
    </div>
  </div>
</div>
