<div class="group-page" *ngIf="!searchMode">
  <div class="default-header">
    <div class="btn1-container">
      <button (click)="toggleSearch()" mat-button>
        <img
          class="search-button"
          src="assets/icons/search-icon.svg"
          alt="جستجو"
        />
        جستجو
      </button>
    </div>

    <span class="mid-span">اکیپ‌ها</span>

    <div class="btn2-container">
      <button (click)="redirectToCreateGroup()" mat-button>افزودن گروه</button>
    </div>
  </div>

  <div class="group-list">
    <div
      class="group-item"
      *ngFor="let group of groups; trackBy: trackByGroupId"
      (click)="navigateToGroupChat(group.id)"
      tabindex="0"
      role="button"
      [attr.aria-label]="'رفتن به چت گروه ' + group.name"
    >
      <img *ngIf="group.image" [src]="group.image" alt="Group Image" />

      <div
        *ngIf="!group.image"
        class="avatar"
        [style.backgroundColor]="group.avatarColor"
        [attr.aria-label]="'Avatar for ' + group.name"
      >
        {{ group.avatarLetter }}
      </div>

      <div class="group-info">
        <span class="group-name">{{ group.name }}</span>

        <img
          *ngIf="group.isPrivate"
          src="assets/icons/private-groups.svg"
          alt="Private Group Icon"
          class="private-icon"
        />

        <span *ngIf="group.isAdmin" class="status-label admin-label">مدیر</span>
        <span
          *ngIf="!group.isAdmin && group.isMember"
          class="status-label member-label"
          >عضو</span
        >
      </div>
    </div>
  </div>

  <div *ngIf="groups.length === 0" class="no-groups-message">
    شما عضو هیچ گروهی نیستید.
  </div>
</div>

<div class="search-page" *ngIf="searchMode">
  <div class="header">
    <button
      (click)="toggleSearch()"
      class="back-button"
      mat-button
      aria-label="بازگشت"
    >
      <img class="back-icon" src="assets/icons/back.svg" alt="بازگشت" />
      بازگشت
    </button>
    <h2>جستجو اکیپ‌ها</h2>
    <button (click)="redirectToCreateGroup()" class="edit-button" mat-button>
      افزودن گروه
    </button>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>جستجو</mat-label>
      <input
        matInput
        type="text"
        placeholder="جستجو"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch()"
        aria-label="جستجو گروه‌ها"
      />
      <button
        mat-icon-button
        matSuffix
        class="search-icon-button"
        aria-label="جستجو"
      >
        <img
          class="search-icon"
          src="assets/icons/search-box.svg"
          alt="جستجو"
        />
      </button>
    </mat-form-field>
  </div>

  <div class="group-list">
    <div
      class="group-item"
      *ngFor="let group of searchResults; trackBy: trackByGroupId"
      (click)="navigateToGroupChat(group.id)"
      tabindex="0"
      role="button"
      [attr.aria-label]="'رفتن به چت گروه ' + group.name"
    >
      <img *ngIf="group.image" [src]="group.image" alt="Group Image" />

      <div
        *ngIf="!group.image"
        class="avatar"
        [style.backgroundColor]="group.avatarColor"
        [attr.aria-label]="'Avatar for ' + group.name"
      >
        {{ group.avatarLetter }}
      </div>

      <div class="group-info">
        <span class="group-name">{{ group.name }}</span>

        <img
          *ngIf="group.isPrivate"
          src="assets/icons/private-groups.svg"
          alt="Private Group Icon"
          class="private-icon"
        />

        <span *ngIf="group.isAdmin" class="status-label admin-label">مدیر</span>
        <span
          *ngIf="!group.isAdmin && group.isMember"
          class="status-label member-label"
          >عضو</span
        >
      </div>
    </div>

    <div
      *ngIf="searchResults.length === 0 && searchTerm.trim() !== ''"
      class="no-results-message"
    >
      هیچ گروهی مطابق با جستجوی شما یافت نشد.
    </div>
  </div>
</div>
