<div class="group-page" *ngIf="!searchMode">
  <div class="header">
    <a (click)="toggleSearch()" class="search">
      <img class="search-button" src="assets/icons/search-icon.svg" />
      جستجو
    </a>
    <h2>اکیپ ها</h2>
    <a (click)="toggleEdit()" class="edit">ویرایش</a>
  </div>

  <div class="group-list">
    <div
      class="group-item"
      *ngFor="let group of groups"
      (click)="navigateToGroupChat(group.id)"
    >
      <img *ngIf="group.image" [src]="group.image" alt="Group Image" />

      <div
        *ngIf="!group.image"
        class="avatar"
        [style.backgroundColor]="group.avatarColor"
      >
        {{ group.avatarLetter }}
      </div>

      <span>{{ group.name }}</span>
      <img
        *ngIf="group.isPrivate"
        src="assets/icons/private-groups.svg"
        alt="Private Group Icon"
        class="private-icon"
      />
    </div>
  </div>
</div>

<div class="search-page" *ngIf="searchMode">
  <div class="header">
    <a (click)="toggleSearch()" class="back2">
      <img class="back-button" src="assets/icons/back.svg" />
      بازگشت
    </a>
    <h2>جستجو اکیپ ها</h2>
    <a (click)="toggleEdit()" class="edit">ویرایش</a>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>جستجو</mat-label>
      <input
        matInput
        type="text"
        placeholder="جستجو"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch()"
      />
      <button mat-icon-button matSuffix class="search-icon-button">
        <img class="search-icon" src="assets/icons/search-box.svg" />
      </button>
    </mat-form-field>
  </div>

  <div class="group-list">
    <div
      class="group-item"
      *ngFor="let group of searchResults"
      (click)="navigateToGroupChat(group.id)"
    >
      <img *ngIf="group.image" [src]="group.image" alt="Group Image" />
      <div
        *ngIf="!group.image"
        class="avatar"
        [style.backgroundColor]="group.avatarColor"
      >
        {{ group.avatarLetter }}
      </div>
      <span>{{ group.name }}</span>
      <img
        *ngIf="group.isPrivate"
        src="assets/icons/private-groups.svg"
        alt="Private Group Icon"
        class="private-icon"
      />
    </div>

    <div
      *ngIf="searchResults.length === 0 && searchTerm.trim() !== ''"
      class="no-results-message"
    >
      هیچ گروهی مطابق با جستجوی شما یافت نشد.
    </div>
  </div>
</div>
