.group-page,
.search-page {
  width: 100%;
  margin: 0;
  color: var(--gray-5);
  background-color: var(--base);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    margin-top: 30px;

    .search,
    .back,
    .edit {
      display: flex;
      align-items: center;
      color: var(--primary);
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
    }

    .search-icon,
    .back-icon,
    .edit-icon {
      width: 16px;
      height: 16px;
      margin-inline-start: 4px;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      color: var(--gray-5);
      margin: 0;
    }
  }

  .group-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 0;

    .group-item {
      display: flex;
      align-items: center;
      padding: 0.75rem 0;
      border-bottom: 1px solid var(--gray-2);

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-inline-start: 0.75rem;
      }

      span {
        font-size: 1rem;
        color: var(--gray-5);
        margin-inline-start: 0.75rem;
        margin-top: 0.5rem;
      }
    }

    .no-results-message {
      font-size: 16px;
      color: var(--gray-4);
      margin: 10px 0;
    }
  }
}

.search-page {
  .search-bar {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    margin: 1rem auto;
    width: 95%;
    max-width: 400px;
    margin-top: 50px;

    .search-field {
      width: 100%;
      border-radius: 5px;

      .mat-form-field-wrapper {
        padding: 0;

      }

      .mat-form-field-flex {
        border: none;
        border-radius: 5px;

      }

      input {
        padding: 0 8px;
        font-size: 1rem;
        color: var(--gray-4);
        font-family: inherit;
        letter-spacing: 0;
      }

      .search-icon-button {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        outline: none;

        .search-icon {
          width: 30px;
          height: 30px;
          opacity: 0.6;
          margin-inline-start: 23px;
          margin-top: 8px;
          direction: ltr;
        }
      }
    }
  }
}
